@font-face {
    font-family: "Oswald";
    src: url("/csstest/fonts/Oswald/Oswald-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald-light";
    src: url("/csstest/fonts/Oswald/Oswald-Light.ttf");
    font-weight: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Roboto Ipmport*/

.content {
    /*class*/
    color: green;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    line-height: 60px;
    max-width: 75%;
}

h3 {
    font-family: "Oswald", sans-serif;
    color: aqua;
}

#skills {
    /*ID*/
    color: brown;
}

h4 {
    font-family: "Oswald-light", sans-serif;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}

/*img {
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 3px 3px 7px black;
    margin: 10px;
}*/

img {
    width: 17.2%;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
}

.img-div {
    background-color: lightblue;
}

.img-div-light {
    background-color: aliceblue;
}

.bold {
    font-weight: bold;
}

#img1 {
    display: inline;
    /*none*/
    visibility: visible;
    position: relative;
    left: 100px;
}

#img2 {
    position: fixed;
    top: 100px;
    left: 150px;
}